h1{
  color: #B8DBD7
}
body{
  background-image: url(file:///home/ahere/Downloads/abstract-blank-board-296884.jpg);
  background-size: 1300px;
}
*{
  text-align: center;
}
h1{
  text-align:

}
p{
  color: #B8DBD7
}
<img src="image/abstract-blank-board-296884.jpg">
