h1{
  color: #B8DBD7
}
body{
  background-image: url('abandoned-ancient-antique-235986.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1px
  background-size: 1300px;
}
*{
  text-align: center;
}
h1{
  text-align:

}
p{
  color: #B8DBD7
}
